@use 'sass:color';

$mobile_screen_width: 640px;
$mobile_screen_width_less: 420px;
@mixin arrow($dir, $size:5px, $color:black) {
  width: 0px;
  height: 0px;
  border-style: solid;
  @if $dir == 'down' {
    border-width: $size $size 0 $size;
    border-color:  $color transparent transparent transparent;
  } @else if $dir == 'up' {
    border-width: 0 $size $size $size;
    border-color: transparent transparent $color transparent;
  } @else if $dir == 'right' {
    border-width: $size 0 $size $size;
    border-color: transparent transparent transparent $color;
  } @else if $dir == 'left' {
    border-width: $size $size $size 0;
    border-color:  transparent $color transparent transparent;
  }
}

:root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #000;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  &.embedded {
    overflow: hidden;
    body { 
      overflow: hidden;
    }
  }
}
* {
  scrollbar-width: thin;
  -webkit-tap-highlight-color: transparent;
}
body {
  padding:0;
  margin: 0;
  width: 100%;
  height: 100%;
  position:relative;
}
.video-container {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}
.play-button {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: white;
  text-align: center;
  transition: all 0.2s !important;
  .pause, .play {
    font-size: 3rem;
  }
  .ended {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    .fas {
      font-size: 2rem;
    }
  }
  &.hidden {
    background-color: transparent;
  }
  &>* {
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    transition: opacity 0.2s, visibility 0.2s !important;
    position: absolute;
    cursor: pointer;
    &.hidden {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.video-js {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow:hidden;
  inset: 0;
  // z-index: 0;
  background: transparent;
  font-size: 12px;
  color: white;
  --bg: rgba(22, 22, 22, 0.8);
  --progress-bg: rgba(124,124,124,.5);

  --progress-color: #fff;
  --control-height: 4em;
  --control-width: 4em;
  --volume-control-width: 6em;
  --border: 1px solid rgba(255,255,255,0.2);
  --tooltip-offset: 6px;
  --tooltip-bg: rgba(0,0,0, 0.85);
  --tooltip-arrow-size: 5px;
  * {
    transition: none;
  }
  /* .embedded & .vjs-fullscreen-control {
    display: none;
  } */

  video {
    // SHEEPY FIX HERE, Chrome 138 GLITCH DO NOT CHANGE
    // When:
    // the fullscreen element is a parent <div> (not the <video> itself), and
    // the <video> has custom controls,
    // and there’s any touch event over the video,
    // Chrome tries to promote both the <video> and the fullscreen container into separate hardware layers.
    // The touch causes a layer invalidation, the video overlay tears away from the compositor surface, and you get 5–10 seconds of “psychedelic pixel vomit” until the buffer chain resyncs.
    // This is specific to Android 8/9 devices with Chrome 137–139 and certain Qualcomm or Mali GPUs.
    // You want Chrome to stop treating the <video> as an overlay and instead draw it as a normal composited texture.
    will-change: auto !important;
    contain: none !important;
    transform: none !important;
    backface-visibility: visible !important;
    pointer-events: auto !important;
    isolation: isolate !important;
    z-index: 1 !important;
  }
  &>* {
    z-index: 2;
  }

  @media screen and (max-width: $mobile_screen_width) {
    font-size: 10px;
    .vjs-picture-in-picture-control, .vjs-stop-control {
      display: none !important;
    }
    &:not(.is-touch) {
      .vjs-play-control {
        display: none !important;
      }
    }
  }
  @media screen and (max-width: $mobile_screen_width_less) {
    [class^=vjs-skip-backward], [class^=vjs-skip-forward] {
      display: none !important;
    }
  }
  .vjs-playback-rate {
    display: block !important;
  }
  .logo {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 8em;
    opacity: 0;
    z-index: 2;
    opacity: 0.5;
    img {
      width:100%;
      height: auto;
    }
    &:hover {
      opacity: 0.8 !important;
    }
  }
  .vjs-control-bar {
    height: var(--control-height) !important;
    pointer-events: none !important;
    display:flex;
    &>*:not(.vjs-spacer) {
      flex: 0 1 auto !important;
    }
  }
  &.vjs-user-active {
    .vjs-control-bar {
      pointer-events: all !important;
    }
  }
  .vjs-control-bar, .logo {
    transition: visibility 0.2s, opacity 0.2s !important;
  }

  .vjs-big-play-button {
    display: none !important;
  }
  .vjs-control-bar, .vjs-menu-content {
    background: var(--bg) !important;
  }
  .vjs-play-progress.vjs-slider-bar .vjs-time-tooltip {
    display:none !important;
  }
  .vjs-control {
    height: var(--control-height);
    width: var(--control-width);
    .far, .fas {
      font-size: 1.4em;
    }
  }
  .vjs-seek-to-live-control {
    &:focus {
      outline: 0 !important;
    }
  }
  .vjs-button {
    cursor: pointer;
    &>.vjs-icon-placeholder:before {
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &.vjs-has-started{
    &:not(.vjs-user-active) {
      cursor: none;
    }
  }
  &:not(.vjs-has-started) {
    .vjs-control-bar {
      display:none;
    }
  }

  .vjs-progress-holder {
    transition: none !important;
    background: var(--progress-bg);
    .vjs-load-progress {
      background:transparent;
      &>div {
        // z-index: 1;
        background: rgba(255,255,255,0.5);
        mix-blend-mode: hard-light;
        pointer-events: none;
      }
    }
    .vjs-play-progress {
      background: var(--progress-color);
      &:before {
        display:none;
        content:"";
      }
    }
  }
  .vjs-progress-control {
    position: absolute;
    left: 0;
    right: 0;
    width: auto;
    height: 1em;
    bottom:100%;
    transition: all 0.2s;
    background: var(--progress-bg);
    .vjs-progress-holder {
      margin:0;
    }
    &:hover {
      height: 2.5em;
    }
  }
  .vjs-stop-control {
    cursor: pointer;
  }
  .vjs-progress-holder {
    height:100%;
    .vjs-play-progress,
    .vjs-load-progress {
      position: absolute;
      display: block;
      height: 100%;
      margin: 0;
      padding: 0;
      left: 0;
    }
    .vjs-load-progress {
      // height: 2px;
      // top: 50%;
      // transform: translateY(-50%);
      // z-index: 1;
    }
    .vjs-play-progress {
      // background: #80d2ff;
      $color:#ff794c;
      --c1: #{$color};
      --c2: #{color.adjust($color, $hue: 5deg)};
      background-image: linear-gradient(45deg, var(--c1) 25%, var(--c2) 25.5%, var(--c2) 50%, var(--c1) 50.5%, var(--c1) 75%, var(--c2) 75.5%, var(--c2));
      background-size: 8px 8px;
      // background: #66a8cc url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAP0lEQVQIHWWMAQoAIAgDR/QJ/Ub//04+w7ZICBwcOg5FZi5iBB82AGzixEglJrd4TVK5XUJpskSTEvpdFzX9AB2pGziSQcvAAAAAAElFTkSuQmCC) 0% 0% repeat;
    }
    .vjs-load-progress {
      // background: rgba(255, 255, 255, 0.4);
    }
  }
  .vjs-seek-handle {
    width: 1.5em;
    height: 100%;
  }
  .vjs-custom-control-spacer {
    display:block !important;
    flex:1;
  }
  .vjs-mouse-display {
    pointer-events: none;
    user-drag: none;
  }

  &.is-touch .vjs-volume-control {
    display: none !important;
  }
  .vjs-time-control {
    
  }
  .vjs-volume-tooltip {
    display:flex;
    top: 1px !important;
    left: calc(100% + var(--tooltip-offset)) !important;
    right: auto !important;
    transform: translateY(-50%);
    &:before {
      content: "";
      display: block;
      position:absolute;
      left:0;
      transform: translateX(-100%);
      @include arrow('left', var(--tooltip-arrow-size), var(--tooltip-bg));
    }
  }

  .vjs-time-tooltip {
    display:flex;
    left: 50%;
    top: auto;
    bottom: calc(100% + var(--tooltip-offset));
    transform: translateX(-50%);
    &:before {
      content: "";
      display: block;
      position:absolute;
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
      @include arrow('down', var(--tooltip-arrow-size), var(--tooltip-bg));
    }
  }

  .vjs-time-tooltip, .vjs-volume-tooltip  {
    font-size: 10px !important; // necessary to prevent font size changing and tolltip positioning being off in first moment
    padding: 0.5em;
    width: auto;
    white-space: nowrap;
    border-radius: 0.5em;
    background: var(--tooltip-bg);
  }

  .vjs-playback-rate {
    .vjs-playback-rate-value {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1em !important;
    }
  }

  .vjs-volume-vertical {
    --vh: 100px;
    --padding: calc((var(--control-width) - var(--bar-thickness)) / 2);
    --volume-height: calc(var(--vh) + var(--padding) * 2);
    --bar-thickness: 5px;
    
    /* @media screen and (max-height: 240px) {
      --vh: 50px;
    } */
    z-index:1;
    margin: 0 !important;
    left: auto !important;
    position: absolute !important;
    
    height: var(--volume-height) !important;
    width: var(--control-width) !important;
    background: none !important;
    bottom: 100% !important;
    padding-bottom: 0.5em;
    box-sizing: content-box;

    &:before {
      content: "";
      position:absolute;
      display:block;
      background: var(--bg) !important;
      border-radius: 1em;
      border: var(--border);
      height: var(--volume-height) !important;
      width: var(--control-width) !important;
    }
    .vjs-slider-vertical {
      margin: auto !important;
      width: var(--bar-thickness) !important;
      height: calc(100% - var(--control-width) + var(--bar-thickness));
      margin: auto !important;
      padding: 0 !important;
    }
    .vjs-volume-level:before {
      content: "" !important;
    }
    .vjs-volume-bar {
      background: var(--progress-bg);
    }
    .vjs-volume-level {
      width: 100% !important;
    }
  }

  .vjs-volume-vertical, .vjs-menu {
    display: flex !important;
    opacity: 0 !important;
    visibility: hidden !important;
    left:50% !important;
    transform: translate(-50%, 1em) !important;
    transition: transform 0.2s, opacity 0.2s, visibility 0.2s !important;
    pointer-events: none !important;
  }
  
  button.vjs-button, .vjs-menu-item {
    transition: background-color 0.2s, color 0.2s !important;
    background-color: transparent !important;
    &:hover, &[aria-expanded="true"] {
      background-color: rgba(255,255,255,0.075) !important;
    }
    &.vjs-selected {
      background-color: rgba(255,255,255, 0.85) !important;
      color:black !important;
    }
  }
  @mixin show() {
    pointer-events: all !important;
    opacity: 1 !important;
    visibility: visible !important;
    transform: translate(-50%, 0) !important;
  }
  .vjs-hover, .vjs-slider-active {
    .vjs-volume-vertical, .vjs-menu {
      @include show();
    }
  }
  .vjs-menu.vjs-lock-showing {
      @include show();
  }

  .vjs-volume-panel {
    transition: none;
  }
  * {
    &:focus {
      text-shadow: none !important;
      box-shadow: none !important;
    }
  }
  .vjs-live-display {
    display: flex;
    height: var(--control-height) !important;
    align-items: center;
  }
  .vjs-text-track-display {
    bottom: var(--control-height) !important;
  }
  .vjs-remaining-time {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto !important;
    padding-left: 0.5em;
    padding-right: 0.5em;
    min-width:4em;
  }
  .vjs-time-display-toggle {
    cursor: pointer;
  }
  &.vjs-live {
    .vjs-remaining-time {
      display: none;
    }
  }
  &:not(.vjs-live) {
    .vjs-load-full-stream-button {
      display: none;
    }
    .vjs-time-display-toggle {
      display: none;
    }
  }
  .seek-to-live-wrapper {
    height: var(--control-height) !important;
    line-height: 1 !important;
    display: flex;
    align-items: center;
    padding: 0 0.5em;
    .vjs-seek-to-live-control {
      background: rgba(255,0,0,0.3);
      border-radius: 999px;
      padding:0 0.75em;
      .vjs-icon-placeholder {
        margin-right:0.25em;
      }
      &:not(.vjs-at-live-edge) {
        background: rgba(120,120,120,0.3);
        transition: background-color 0.2s;
        &:hover {
          background: rgba(160, 160, 160, 0.3);
        }
      }
    }
    * {
      line-height: 2.4;
      height:auto;
    }
  }
  .vjs-seek-to-live-control {
    width: auto !important;
    padding:0 0.5em;
    &:not(.vjs-at-live-edge) {
      cursor: pointer;
    }
  }
  .vjs-modal-dialog-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .vjs-menu {
    padding-bottom: 0.5em;
    .vjs-menu-content {
      border-radius: 1em;
      border: var(--border);
      overflow: hidden;
    }
    li {
      text-transform: none;
      font-size: 1.2em;
      &.vjs-menu-title {
        padding:0;
        margin:0;
        border-bottom: var(--border);
        opacity: 0.7;
      }
      &.vjs-menu-item,&.vjs-menu-title {
        padding:0.5em 2em;
      }
    }
  }
  .vjs-menu-button-popup {
    .vjs-menu {
      width: auto;
      height: auto;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
      position:absolute;
      .vjs-menu-content {
        width: auto;
        max-height: none;
        position: relative;
        bottom: auto;
      }
    }
  }
  .vjs-loading-spinner {
    pointer-events: none;
  }
  .vjs-menu li.vjs-menu-item {
    user-select: none;
  }
  .vjs-crop-toggle {
    position: relative;
    cursor: pointer;
    .label2 {
      --width: calc(var(--control-width) * 0.8);
      max-width: var(--width);
      max-height: var(--width);
      display: flex;
      flex:none;
      justify-content: center;
      text-align: center;
      align-items: center;
      position: absolute;
      padding: 3px 2px;
      left: 50%;
      top: 50%;
      font-size: 90%;
      transform: translate(-50%, -50%);
      min-width: var(--width);
      height: calc(var(--width) / (16/9));
      border: thin solid rgba(255,255,255,0.8);
      user-select: none !important;
      &:after {
        content: "";
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border: thin dashed rgba(255,255,255,0.6);
      }
      &[data-ratio="cover"] {
        min-width: var(--width);
        height: calc(var(--width) / (16/9));
        &:after {
          display: block;
          border-width: 0 1px 0 1px;
          width:70%;
        }
      }
      &[data-ratio="4:3"] {
        min-width: var(--width);
        height: calc(var(--width) / (16/9));
        &:after {
          display: block;
          border-width: 0 1px 0 1px;
          width:75%;
        }
      }
      &[data-ratio="16:9"] {
        min-width: var(--width);
        height: calc(var(--width) / (16/9));
      }
      &[data-ratio="21:9"] {
        min-width: var(--width);
        height: calc(var(--width) / (16/9));
        &:after {
          display: block;
          border-width: 1px 0 1px 0;
          height:76%;
        }
      }
    }
  }
  @mixin center() {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    overflow: hidden !important;
    // transition: width 0.2s, height 0.2s;
  }
  /* .outer-crop {
    &:after {
      // blocker, fixes sheepy thing
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: transparent;
      pointer-events: all;
    }
  } */
  .outer-crop, .inner-crop, video {
    width: 100%;
    height: 100%;
  }
  &.crop-enabled {
    .outer-crop, .inner-crop, video {
      @include center();
    }
  }
  .vjs-level-select {
    display:none;
  }
  &.hls-loaded {
    .vjs-level-select {
      display:block;
    }
  }
  /* video::-moz-media-controls {
    display: none !important;
  } */
}

.cover-icon>*:first-child {display:block;}
.cover-icon>*:last-child {display:none;}
.cover-horizontal {
  .cover-icon>*:first-child {display:none;}
  .cover-icon>*:last-child {display:block;}
}

/* .vjs-load-progress {
  display: none !important;
} */