@use "../_mixins.scss" as *;

:root {
	// --ui-color: inherit;
	--ui-gap: 0.5rem;
	--ui-property-padding: 4px 6px;
	--ui-button-padding: 0.5rem;
	--ui-property-header-gap: 2px;
	--ui-property-width: auto;
	--ui-property-min-width: 120px;
	--ui-property-input-height: 30px;
	--ui-property-list-item-size: 0;
	--ui-border-color: #aaa;
	--ui-border: thin solid var(--ui-border-color);
	--ui-num-items-per: 1;
	--ui-direction: row;
	--ui-button-background: #fff;
	--ui-property-background: #fff;
	--ui-loading-background-color: rgba(0,0,0, 0.7);
	--ui-modal-background-color: rgba(0,0,0, 0.7);
}

._ui_ {
	// color: var(--ui-color);
	&.hidden {
		display: none !important;
	}
}

label._ui_ {
	display: flex;
	margin-bottom: 0;
}
._ui_.property {
	--ui-direction: row;
	--ui-property-input-width: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	// width: 100%;
	
	width: var(--ui-property-width);
	min-width: var(--ui-property-min-width);
	gap: var(--ui-property-header-gap);
	
	// flex: 1;
	&[disabled], &:disabled {
  		pointer-events: none;
		opacity: 0.6;
	}
	&>* {
		flex-direction: row;
	}
	&>.property-header {
		display: flex;
		margin-bottom: 0;
		// line-height:1.2;
		&>*:first-child {
			@include single-line-ellpisis();
		}
		&>*:not(:first-child) {
			flex: 0;
		}
		align-items: center;
		&>*:not(:first-child) {
			margin-left:3px;
		}
	}
	&.inline {
		flex-direction: row;
		--ui-property-input-width: auto;
	}
	&>.property-outer {
		display: flex;
		position: relative;
		flex-direction: var(--ui-direction);
		padding-left: 1px;
		padding-top: 1px;
		min-height: var(--ui-property-input-height);
		&>*{
			margin-left: -1px;
			margin-top: -1px;
		}
		select>option {
			font-weight:normal;
		}
		&>.property-inner {
			background: var(--ui-property-background);
			display: flex;
			position: relative;
			flex: 1;

			&>.property-input-prefix,&>.property-input-suffix {
				flex: none;
				overflow: hidden;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: var(--ui-property-padding);
				font-size: 10px;
				text-transform: uppercase;
			}
			&>.property-input-wrapper {
				display: flex;
				width: 100%;
				position:relative;
				flex-direction: var(--ui-direction);
				// align-items: center;
				&>* {
					border: 1px solid var(--ui-border-color);
				}

				&:focus-within {
					z-index: 1;
					outline-offset: -1px;
					outline: 2px solid #000;
				}
				
				select,textarea,input,.fake-input,[contenteditable=true] {
					// border:none!important;
					padding: var(--ui-property-padding);
					outline: none !important;
					// display: block;
				}
				input[type=date],input[type=time] {
					padding-top:0;
					padding-bottom:0;
				}
				/* &>select {
					appearance: none;
					-moz-appearance: none;
					-webkit-appearance: none;
					display: block; // very weird behaviour, makes the default select padding on chrome disappear.
					background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="16" width="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') !important;
					background-repeat: no-repeat;
					background-position: right 0 center;
				} */
				&>input:not([type=checkbox]), &>select, &>textarea, &>.fake-input, &>[contenteditable=true] {
					flex: 1;
					width: var(--ui-property-input-width);
				}
				&>.fake-input {
					color: #000;
					display: flex !important;
					align-items: center;
					gap: 5px;
					&>*:first-child {
						flex:1;
						@include single-line-ellpisis();
					}
					&>*:not(:first-child) {
						flex:none;
					}
				}
				&>.fake-input, &>[contenteditable=true] {
					display:flex;
					align-items: center;
				}
				&>input[type=time],&>input[type=date] {
					padding-top:0;
					padding-bottom:0;
				}
			}
			/* &>.property-input-suffix {
				position: absolute;
				pointer-events: none;
				white-space: nowrap;
				top: 50%;
				transform: translateY(-50%);
				margin-top: -1px;
				right: .5em;
				transition: all .05s ease-in-out;
				opacity: 0.6;
				font-weight: normal !important;
				font-style: normal !important;
				z-index: 2;
			} */
		}
		&>.property-buttons {
			display: flex;
			padding-left:1px;
			padding-top:1px;
			&>* {
				// height: 100% !important;
				// flex: 1 0 auto;
				margin-left: -1px;
				margin-top: -1px;
				&.reset, &.copy {
					// aspect-ratio: 1/1;
				}
			}
		}
	}
	&.invalid:not(:focus-within)>.property-outer>.property-inner>.property-input-wrapper>* {
		// outline: 1px solid red !important;
		--ui-border: 1px solid red !important;
		box-shadow: inset 0 0 4px red !important;
	}
	&.is-null[data-input-type="color"] {
		.property-inner:after {
			content: "None" !important;
			pointer-events: none;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			line-height: 0;
		}
	}
	&.vertical {
		--ui-direction: column;
	}
	
	&[data-input_type="range"] {
		--ui-property-background: transparent;
		* {
			outline: none !important;
			border: none !important;
		}
	}
}
._ui_.property-list-wrapper {
	display: flex;
	flex-direction: var(--ui-orientation1);
	// overflow: hidden;
	// padding: 0 !important;
	width: 0;
	flex: 1;
	--ui-orientation1: row;
	--ui-orientation2: column;
	--ui-property-list-item-border-width: 0 0 0 thin;

	&.vertical {
		--ui-orientation1: column;
		--ui-orientation2: row;
		width: 100%;
		--ui-property-list-item-border-width: thin 0 0 0;
	}
	&>.empty {
		display:flex;
		flex:1;
		align-items: center;
		justify-content: center;
		user-select: none;
		flex: 1 0 var(--ui-property-list-item-size);
	}
	&>*{
		padding: 5px;
	}
	&>.property-list {
		// gap: 0;
		flex-direction: var(--ui-orientation1);
		// overflow: auto;
		&>.property-list-item {
			display:flex;
			flex-direction: var(--ui-orientation2);
			flex: 1 0 var(--ui-property-list-item-size);
			border: thin solid var(--ui-border-color);
			/* &>*:first-child {
				display:flex;
				padding: var(--ui-property-padding);
				flex: 1;
				gap: var(--ui-gap);
				// border: var(--ui-border);
			} */
			&>.property-list-item-buttons {
				display: flex;
				margin: -1px;
				@extend %border-group;
				&>* {
					padding:0 5px;
					min-height: auto !important;
					width: auto !important;
					height: auto !important;
				}
			}
			&>.property-list-item-content {
				display: flex;
				flex:1;
				justify-content: center;
				gap:5px;
				padding: 0 5px;
			}
		}
	}
}
._ui_.list {
	display:flex;
	gap: 5px;
	flex-direction: column;
}
._ui_.property-group {
	display: flex;
	flex-direction: column;
	gap: var(--ui-gap);
	flex: 1;
	width: 100%;

	&.property-multiple {
		flex:1;
		flex-wrap: wrap;
		flex-direction: row;
		gap: 5px;
		padding: 5px !important;
		// border: 1px solid var(--ui-border-color);
		// padding: 1px 0 0 1px !important;
		&>* {
			flex:1;
			// margin: -1px 0 0 -1px;
		}
	}
	
	/* &.show-changed {
		._ui_.property.changed:not(._ui_.property.changed ._ui_.property.changed):not(._ui_.property-list-wrapper ._ui_.property) {
			&>.property-outer {
				box-shadow: 0 0 0 1px black;
			}
		}
	} */
	&.show-not-default {
		._ui_.property.not-default { // :not(._ui_.property.not-default ._ui_.property.not-default)
			&>.property-outer {
				&>.property-inner>.property-input-wrapper {
					&>*:not(._ui_.property-list-wrapper) {
						font-weight: bold;
					}
				}
			}
		}
	}

	&>* {
		margin:0;
	}
	hr {
		margin: 5px 0;
		border-top-width: 2px;
	}
}
._ui_.box {
	display: flex;
	flex-direction: column;
	gap: var(--ui-gap);
	padding: var(--ui-gap);
	border: var(--ui-border);
	&.collapsible {
		&>.header {
			&:before {
				content:"";
				display:block;
				width: 0;
				height: 0;
				border-style: solid;
				border-top: 3px solid transparent;
				border-bottom: 3px solid transparent;
				border-left: 6px solid currentColor;
				border-right: 0;
				margin-right: 5px;
			}
		}
		&[data-collapsed] {
			.inner {
				display: none;
			}
		}
		&:not([data-collapsed]) {
			&>.header {
				&:before {
					transform: rotate(90deg);
				}
			}
		}
	}
	&>.header+.inner {
		border-top: var(--ui-border);
		padding-top: 5px;
	}
}
._ui_.header {
	display: flex;
	align-items: center;
	margin: 0;
	font-size: inherit;
}
._ui_.spinner {
	display: flex;
	flex-direction: column;
	flex: none;
	&>* {
		width: 14px;
		min-width:auto !important;
		font-size:8px;
		flex: 1;
		padding: 0 !important;
		min-height: auto !important;
		height: auto;
		&:not(:first-child) {
			margin-top:-1px;
		}
	}
}
._ui_.column, ._ui_.row {
	display: flex;
	gap: var(--ui-gap);
	margin: 0;
	&.flex {
		&>* {
			flex: 1 1 0;
		}
	}
}
._ui_.row {
	flex-direction: row;
	flex-wrap: wrap;
	&>* {
		max-width: 100%;
		padding: 0;
		margin: 0;
	}
}
._ui_.column {
	flex-direction: column;
	&>* {
		max-height: 100%;
		padding: 0;
		margin: 0;
	}
}
._ui_.button {
	text-align: center;
	justify-content: center;
	display: flex;
	align-items: center;
	gap: 5px;
	min-width: var(--ui-property-input-height);
	min-height: var(--ui-property-input-height);
	padding: var(--ui-button-padding);
	background: var(--ui-button-background);
	&>* {
		line-height: inherit;
	}
}
%border-group {
	padding: 1px 0 0 1px;
	&>*{
		margin: -1px 0 0 -1px;
	}
}
._ui_.datetime-property-wrapper{
	display: flex;
	flex:1;
	padding: 0 !important;
	&>* {
		background: none !important;
	}
	[type="time"] {
		margin-left:-1px;
	}
}


._ui_.modal-container {
	--modal-width: 600px;
	--modal-max-width: 100%;
	--modal-padding: 15px;
	--modal-close-size: 40px;
	background: var(--ui-modal-background-color);
	position: fixed;
	inset:0;
	display: flex;
	justify-content: center;
	align-items: center; /* Centers when possible */
	z-index: 9999;
	overflow: auto; /* Scrolls entire overlay */
	padding: 20px;
	opacity: 0;
	transition: opacity 0.2s;
	// backdrop-filter: blur(2px);
	&:before, &:after {
	  	content: '';
	}
	&:before {
	  	margin-top: auto;
	}
	&:after {
	  	margin-bottom: auto;
	}

	&.showing {
		opacity: 1;
	}
	&.closable {
		.modal .modal-header {
			padding-right: var(--modal-close-size);
		}
	}
	
	.modal {
		position: relative;
		margin: auto; /* Helps with centering */
		// white-space: normal;
		flex: 0 1 var(--modal-width);
		min-width: 0;
		max-width: var(--modal-max-width);
		margin: auto;
		// max-width: 90%;
		overflow-wrap: break-word;
		padding: 0;
		color: black;
		background:white;
		opacity: 0;
		transition: opacity 0.2s, transform 0.2s;
		transform: translateY(50px);

		button.modal-close {
			color: #000;
			position: absolute !important;
			font-size: 20px;
			padding:10px;
			background: transparent;
			border: none;
			top:0;
			right:0;
			opacity: 0.5;
			height: var(--modal-close-size);
			width: var(--modal-close-size);
			&:hover {
				opacity: 1;
			}
			&:focus {
				outline: none;
			}
		}
		.modal-header, .modal-footer {
			&:empty {
				display: none;
			}
		}
		// border: var(--ui-border);
		.modal-header {
			display: flex;
			font-size: 20px;
			border-bottom: 1px solid #ddd;
			padding: var(--modal-padding);
			&>* {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
		.modal-content {
			padding: var(--modal-padding);
		}
		.modal-footer {
			display:flex;
			flex:1;
			border-top: 1px solid #ddd;
			padding: var(--modal-padding);
			&>*:not(:last-child) {
				margin-right:10px;
			}
		}
	}
	&.modal-showing {
		.modal {
			opacity: 1;
			transform: translateY(0px);
		}
	}
}

._ui_.loader {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	inset: 0;
	height: 100%;
	width: 100%;
	max-width: none;
	align-items: center;
	font-weight: bold;
	user-select: none;
	white-space: nowrap;
	z-index: 1;
	gap: 10px;
	background-color: var(--ui-loading-background-color);
	color: var(--loading-color);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size:20px;
	transition: opacity 0.2s;
	transition-property: opacity, visibility;
	opacity: 1;
	visibility: visible;
	&.hidden {
		display: flex !important;
		opacity: 0;
		visibility: hidden;
	}
	.loading-icon {
		display: flex;
		gap: 5px;
		--duration: 0.50s;
		&>* {
			display:block;
			width: 10px;
			height: 30px;
			animation: loading-rect var(--duration) infinite ease-in-out;
			background: currentColor;
			&:nth-child(1) { animation-delay: 0; }
			&:nth-child(2) { animation-delay: calc(var(--duration) / 2 * 1/3 * -1); }
			&:nth-child(3) { animation-delay: calc(var(--duration) / 2 * 2/3 * -1); }
		}
	}
}