@use "../_mixins.scss" as *;

:root {
	--ui-gap: 8px;
	--ui-property-padding: 4px 4px 4px 4px;
	--ui-property-header-gap: 2px;
	--ui-property-width: 100%;
	--ui-property-min-width: 120px;
	--ui-property-input-height: 30px;
	--ui-property-list-item-size: 0;
	--ui-border-color: #aaa;
	--ui-border: thin solid var(--ui-border-color);
	--ui-num-items-per: 1;
}

.uis {
	&.hidden {
		display: none !important;
	}
}

label.uis {
	display: flex;
	margin-bottom: 0;
}
.uis.property {
	--direction: row;
	--buttons-margin: 0 0 0 -1px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	// width: 100%;
	width: var(--ui-property-width);
	min-width: var(--ui-property-min-width);
	min-height: var(--ui-property-input-height);
	// flex: 1;
	&[disabled], &:disabled {
  		pointer-events: none;
		opacity: 0.6;
	}
	&>* {
		flex-direction: row;
	}
	&.vertical {
		--direction: column;
		--buttons-margin: -1px 0 0 0;
	}
	&>.property-header {
		display: flex;
		margin-bottom: 0;
		line-height:1.2;
		&>*:first-child {
			@include single-line-ellpisis();
		}
		&>*:not(:first-child) {
			flex: 0;
		}

		margin-bottom: var(--ui-property-header-gap);
		align-items: center;
		&>*:not(:first-child) {
			margin-left:3px;
		}
	}
	&>.property-outer {
		display: flex;
		position: relative;
		flex-direction: var(--direction);
		select>option {
			font-weight:normal;
		}
		&>.property-inner {
			display: flex;
			position: relative;
			flex: 1;

			&>.property-input-prefix,&>.property-input-suffix {
				flex: none;
				overflow: hidden;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: var(--ui-property-padding);
				font-size: 10px;
				text-transform: uppercase;
			}
			&>.property-input-wrapper {
				display: flex;
				width: 100%;
				position:relative;
				flex-direction: var(--direction);
				&>*:not(input[type=color]) {
					padding: var(--ui-property-padding);
					display: flex;
					// display: block;
				}
				&>input:not([type=checkbox]), &>select, &>textarea, &>.fake-input {
					flex: 1;
					width: 0;
				}
				&>input[type=time],&>input[type=date] {
					padding-top:0;
					padding-bottom:0;
				}
			}
			/* &>.property-input-suffix {
				position: absolute;
				pointer-events: none;
				white-space: nowrap;
				top: 50%;
				transform: translateY(-50%);
				margin-top: -1px;
				right: .5em;
				transition: all .05s ease-in-out;
				opacity: 0.6;
				font-weight: normal !important;
				font-style: normal !important;
				z-index: 2;
			} */
		}
		&>.property-buttons {
			margin: var(--buttons-margin);
			display: flex;
			&>* {
				height: 100% !important;
				flex: 1 0 auto;
				&:not(:first-child) {
					margin-left: -1px;
				}
			}
		}
	}
	&.invalid:not(:focus-within)>.property-outer>.property-inner>.property-input-wrapper>* {
		border-color: red !important;
		box-shadow: inset 0 0 3px red !important;
	}
	&.is-null:has(input[type=color]) {
		.property-inner:after {
			content: "None" !important;
			pointer-events: none;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			line-height: 0;
		}
	}
}
.uis.property-list-wrapper {
	display: flex;
	flex-direction: var(--ui-orientation1);
	// overflow: hidden;
	// padding: 0 !important;
	border: var(--ui-border);
	width: 0;
	flex: 1;
	--ui-gap: 5px;
	--ui-orientation1: row;
	--ui-orientation2: column;
	--ui-property-list-item-border-width: 0 0 0 thin;

	&.vertical {
		--ui-orientation1: column;
		--ui-orientation2: row;
		width: 100%;
		--ui-property-list-item-border-width: thin 0 0 0;
	}
	&>.empty {
		display:flex;
		flex:1;
		align-items: center;
		justify-content: center;
		user-select: none;
		flex: 1 0 var(--ui-property-list-item-size);
	}
	&>.property-list {
		// gap: 0;
		flex-direction: var(--ui-orientation1);
		// overflow: auto;
		&>.property-list-item {
			display:flex;
			flex-direction: var(--ui-orientation2);
			flex: 1 0 var(--ui-property-list-item-size);
			border: thin solid var(--ui-border-color);
			/* &>*:first-child {
				display:flex;
				padding: var(--ui-property-padding);
				flex: 1;
				gap: var(--ui-gap);
				// border: var(--ui-border);
			} */
			&>.property-list-item-buttons {
				display: flex;
				@extend #border-group;
				margin: -1px;
			}
			&>.property-list-item-content {
				display: flex;
				flex:1;
				padding: var(--ui-property-padding);
				justify-content: center;
			}
		}
	}
}
.uis.list {
	display:flex;
	gap: var(--ui-gap);
	flex-direction: column;
}
.uis.property-group {
	display: flex;
	flex-direction: column;
	gap: var(--ui-gap);
	flex: 1;
	width: 100%;

	&.property-multiple {
		flex:1;
		flex-wrap: wrap;
		flex-direction: row;
		--ui-gap: 0;
		padding: 0 !important;
		&>* {
			flex:1;
			&:not(:first-child) {
				margin-left:-1px;
			}
		}
	}
	
	&.show-changed {
		.uis.property.changed:not(.uis.property.changed .uis.property.changed):not(.uis.property-list-wrapper .uis.property) {
			&>.property-outer {
				box-shadow: 0 0 0 1px black;
			}
		}
	}
	&.show-not-default {
		.uis.property.not-default:not(.uis.property.not-default .uis.property.not-default) {
			&>.property-outer {
				&>.property-inner>.property-input-wrapper {
					&>*:not(.uis.property-list-wrapper) {
						font-weight: bold;
					}
				}
			}
		}
	}

	&>* {
		margin:0;
	}
	hr {
		margin: 5px 0;
		border-top-width: 2px;
	}
}
.uis.box {
	display: flex;
	flex-direction: column;
	gap: var(--ui-gap);
	padding: 5px;
	border: var(--ui-border);
}
.uis.header {
	margin: 0;
	padding-bottom: 5px;
	border-bottom: var(--ui-border);
}
.uis.spinner {
	display: flex;
	flex-direction: column;
	flex: none;
	&>* {
		width: 14px;
		font-size:8px;
		flex: 1;
		padding: 0 !important;
		min-height: auto !important;
		height: auto;
		&:not(:first-child) {
			margin-top:-1px;
		}
	}
}
.uis.column, .uis.row {
	display: flex;
	gap: var(--ui-gap);
	margin: 0;
	--ui-property-width: 100px;
	&.flex {
		&>* {
			flex: 1 1 auto;
		}
	}
}
.uis.row {
	flex-direction: row;
	flex-wrap: wrap;
	&>* { max-width: 100%; }
}
.uis.column {
	flex-direction: column;
	&>* { max-height: 100%; }
}
.uis.button {
	text-align: center;
	justify-content: center;
	display: flex;
	align-items: center;
	gap: var(--ui-gap);
	padding: var(--ui-property-padding);
}
.fake-input {
	color: #000;
	display: flex !important;
	align-items: center;
	gap: 5px;
	&>*:first-child {
		flex:1;
		@include single-line-ellpisis();
	}
	&>*:not(:first-child) {
		flex:none;
	}
}
#border-group {
	padding: 1px 0 0 1px;
	&>*{
		margin: -1px 0 0 -1px;
	}
}