@mixin focus() {
	outline-offset: -1px;
	outline: 2px solid #0071a1;
	z-index: 1;
}
@mixin thin-scrollbar() {
    overflow-x: auto;
    overflow-y: auto;
    scrollbar-width: thin;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        width: var(--thin-scrollbar-width);
        height: var(--thin-scrollbar-width);
    }
    &::-webkit-scrollbar-track {
        background-color: rgba(136, 136, 136, 0.2);
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(136, 136, 136, 0.8);
        background-clip: padding-box;
        &:hover {
            background-color: rgba(136, 136, 136, 1.0);
        }
    }
}
@mixin single-line-ellpisis() {
    display: inline;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding:0.25em 0;
    margin:-0.25em 0;
}
@mixin default-tippy-theme($bg: white, $color: #333) {
    background-color: $bg;
    color: $color;
    line-height: normal;
    background-clip: padding-box;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
    width: max-content;
    font-size: 1rem;
    
    .tippy-arrow{
        color: $bg;
    }
    .tippy-content {
        padding: 6px;
    }
}