html, body {
	position: relative;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	// font-size: 14px;
	color: #000;
	line-height: normal;
    margin:0;
    padding:0;
}
body {
	padding: 10px;
}
p {
	margin: 10px 0;
}
.box {
	border: 2px solid #ddd;
	padding: 10px 20px;
	border-radius: 10px;
	flex-wrap: wrap;
	margin: 1em 0;
}
ul {
	list-style: revert;
	margin: 10px 0 0 0;
	padding-left: 0 0 0 25px;
	li {
		.fas, .far {
			margin-right: 8px;
		}
	}
}
.key-value {
	display: flex;
	align-items: center;
	&>* {
		flex:1;
		&:first-child {
			display: inline-block;
			font-weight: bold;
		}
	}
}
.note {
	border-left: 4px solid var(--border-color);
	padding: 6px 12px;
}
hr {
	margin: 15px 0;
}