@use "_mixins.scss" as *;

:host, :root {
	--thin-scrollbar-width:6px;
	--gap: 10px;
}

.thin-scrollbar {
	@include thin-scrollbar();
}

label.uis {
	display: flex;
	margin-bottom: 0;
}
.uis.property {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	&[disabled], &:disabled {
  	pointer-events: none;
		opacity: 0.6;
	}
	&>* {
		flex-direction: row;
	}
	&>label {
		display:flex;
		margin-bottom: 0;
		line-height: 1.2;
		margin-bottom: 0.2em;
		align-items: center;
		&>*:not(:first-child) {
			margin-left:5px;
		}
	}
	.uis.property-inner {
		display: flex;
		position: relative;
		input:not([type="checkbox"]),textarea,select,.input-wrapper {
			width:100%;
		}
		select>option {
			font-weight:normal;
		}
		&>*:not(:first-child) {
			margin-left:-1px;
		}
		&>.uis.button {
			height: auto;
			display: flex;
			flex: 0 0 auto;
		}
		.input-wrapper {
			position: relative;
			&.suffix {
				$right: .5em;
				&:after {
					position: absolute;
					pointer-events: none;
					white-space: nowrap;
					top: 6px;
					right: $right;
					transition: all .05s ease-in-out;
					opacity: 0.6;
					font-weight: normal !important;
					font-style: normal !important;
					z-index: 2;
				}
				&.number:after {
					right: $right;
				}
				&.ms:after { content: "ms"; }
				&.secs:after { content: "secs"; }
				&.percent:after { content: "%"; }
				&.Kbips:after { content: "Kbps"; }
				&.kbyps:after { content: "KBps"; }
				&.mbips:after { content: "Mbps"; }
				&.mbyps:after { content: "MBps"; }
				&.is-now-live:after { content: "is now LIVE"; }
			}
		}
	}
}
.uis.property-container {
	display: flex;
	flex-direction: column;
	// gap: var(--gap);
	&>* {
		margin:0;
	}
	hr {
		margin: 5px 0;
		border-top-width: 2px;
	}
}
.uis.spinner {
	display: flex;
	flex-direction: column;
	width: 16px;
	flex: none;
	&>* {
		font-size:60%;
		flex: 1;
		padding: 0;
		&:not(:first-child) {
			margin-top:-1px;
		}
	}
	button {
		font-size: 11px;
		padding: 0 !important;
		min-height: auto;
		height: auto;
	}
}
.uis.column, .uis.row {
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap);
	&.flex>* {
		flex:1;
	}
}
.uis.row {
	flex-direction: row;
	&>* { max-width: 100%; }
}
.uis.column {
	flex-direction: column;
	&>* { max-height: 100%; }
}
.uis.button {
	text-align: center;
	justify-content: center;
	display: flex;
	align-items: center;
	gap: 5px;
}
.os-scrollbar{
    --os-size: 6px;
    --os-padding-perpendicular: 2px;
    --os-padding-axis: 2px;
    --os-track-border-radius: 10px;
    --os-handle-interactive-area-offset: 2px;
    --os-handle-border-radius: 10px;
    --os-handle-bg: rgba(255, 255, 255, 0.3);
    --os-handle-bg-hover: rgba(255, 255, 255, 0.45);
    --os-handle-bg-active: rgba(255, 255, 255, 0.6);
}